/*----------------
 style elements
 -------------- */
 
 body {
     background-color: burlywood;
     
    }

label {
    font-weight: bolder;
    background-color: aquamarine;
    border: 2px solid bisque;
}

p {
    text-align: center;
    font-weight: bolder;
    color: wheat;
    background-color: red;
    margin-left: 20%;
    margin-right: 20%;
}

h1 {
    font-family: serif;
    color: yellow;
    background-color: red;
    border: 5px solid purple;
}
    
    /*----------------
     style classes
     -------------- */
    .text {
        text-align: center;
        background-color: green;
        border: 5px solid beige;
    }

    .button {
        font-weight: bold;
        background-color: coral;
    }

    .topic-btn {
        font-weight: bold;
        background-color: rosybrown;
        border: 2px solid beige;
    }
